body {
  background-color:#004D4D;
  padding-top:350px;
}
.box{
  width:500px;
  height:200px;
  margin:0 auto;
  background-color:#C0C0C0;
    text-align:center;
 
 

}
button{
  float:right;
 
  
 
 
 
}
.title{
    background-color:#000080;
  color:white;
  text-align:left;

}

.body {
}

#leftside {
  width:375px;
}

#dialogs {
  width:240px;
}

.body p {
}


#buttons {
  height:50px;
  width:100px;
  float:right;
 
}

#buttons button {
  width:80px;

.body button{
}

label {
}

input {
  width:150px;

  
}



