body {
  background-color:#008080;
  padding-top:350px;
  font-family:"ＭＳ Ｐゴシック";
}
.box{
  width:500px;
  height:200px;
  margin:0 auto;
  background-color:#C0C0C0;
  text-align: right;
  background-image: url('key.png');
  background-repeat: no-repeat;
  background-position: left;
  


 
 

}
button{
  float:right;
  margin-top: -20px;
 
}
.title{
    background-color:#000080;
  color:white;
  text-align:left;
  padding-bottom:1px;
  
  

}

.body {
}

#leftside {
  width:375px;
}

#dialogs {
  width:240px;
 
}

.body p {
}


#buttons {
  height:50px;
  width:100px;

 
}

#buttons button {
  width:80px;

.body button{
}

label {  

}

input {
  width:150px;
  text-align:right;

  
}

